/* Color Variables - Light Theme */
:root {
  /* Neutrals / Backgrounds */
  --beige-500: rgb(152, 144, 139);
  --beige-100: rgb(248, 244, 240);

  --grey-900: rgb(32, 31, 36);
  --grey-500: rgb(105, 104, 104);
  --grey-300: rgb(179, 179, 179);
  --grey-100: rgb(242, 242, 242);

  /* Secondary Colors */
  --green: rgb(39, 124, 120);
  --yellow: rgb(242, 205, 172);
  --cyan: rgb(130, 201, 215);
  --navy: rgb(98, 96, 112);
  --red: rgb(201, 71, 54);
  --purple: rgb(130, 108, 176);

  /* Other Colors */
  --purple-soft: rgb(175, 129, 186);
  --turquoise: rgb(89, 124, 124);
  --brown: rgb(147, 103, 79);
  --magenta: rgb(147, 79, 111);
  --navy-grey: rgb(151, 160, 172);
  --army-green: rgb(127, 145, 97);
  --gold: rgb(202, 179, 97);
  --orange: rgb(190, 108, 73);
  --blue: rgb(63, 130, 178);

  --white: rgb(255, 255, 255);
}
