@use 'styles/mixins' as *;
@use 'styles/mixins' as *;

.auth {
  &-hint {
    @include text-preset-5();
    color: var(--grey-500);
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;

    &-fields {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 16px;
    }

    &-header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;
    }

    &-title {
      @include text-preset-1();
    }

    &-footer {
      @include text-preset-4();
      color: var(--grey-500);
      text-align: center;
    }

    &-hint {
      @include text-preset-5();
      color: var(--grey-500);
      text-align: center;
      margin-top: -16px; // Pull closer to fields
    }
  }

  &-link {
    @include text-preset-4-bold();
    color: var(--grey-900);
  }

  &-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 8px 0;
    color: var(--grey-500);

    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid var(--grey-100);
    }

    &::before {
      margin-right: 16px;
    }

    &::after {
      margin-left: 16px;
    }

    span {
      @include text-preset-5();
    }
  }

  &-google-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-error {
    @include text-preset-5();
    color: var(--red);
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
  }
}
