@use '../../../styles/mixins' as *;

:host {
  display: block;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.form-label {
  @include form-label;
}

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form-select {
  @include form-input;
  appearance: none;
  padding-right: 40px;
  cursor: pointer;

  &--error {
    border-color: var(--red) !important;

    &:focus {
      border-color: var(--red) !important;
      box-shadow: 0 0 0 2px rgba(201, 71, 47, 0.1);
    }
  }
}

.select-arrow {
  position: absolute;
  right: 16px;
  pointer-events: none;
  color: var(--grey-500);
}

.form-error {
  @include text-preset-5();
  color: var(--red);
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
}
