@use 'styles/mixins' as *;

:host {
  display: block;
}

.auth {
  &-form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &-fields {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-title {
      @include text-preset-1();
      margin-bottom: 32px;
    }

    &-footer {
      @include text-preset-4();
      color: var(--grey-500);
      text-align: center;
    }
  }

  &-link {
    @include text-preset-4-bold();
    color: var(--grey-900);
  }

  &-password-hint {
    @include text-preset-5();
    color: var(--grey-500);
    text-align: right;
    margin-top: 4px;
  }

  &-error {
    @include text-preset-5();
    color: var(--red);
    text-align: center;
  }

  &-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 8px 0;
    color: var(--grey-500);

    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid var(--grey-100);
    }

    &::before {
      margin-right: 16px;
    }

    &::after {
      margin-left: 16px;
    }

    span {
      @include text-preset-5();
    }
  }

  &-google-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
