@use 'styles/mixins' as *;

.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--beige-100);
}

.main-content {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}

@include tablet {
  .layout-container {
    flex-direction: column;
  }
  .main-content {
    padding: 40px 40px 100px;
  }
}

@include mobile {
  .main-content {
    padding: 24px 16px 80px;
  }
}
