@use 'styles/_mixins' as *;

:host {
  display: block;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  @include form-label;
}

.password-input-wrapper {
  position: relative;
}

.password-input {
  @include form-input;
  padding-right: 2.5rem;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 16px;
  width: 16px;
  justify-content: center;

  img {
    width: 16px;
    height: auto;
    display: block;
  }

  &:focus {
    outline: none;
  }
}

.form-error {
  @include form-error;
}
