@use 'app/styles/mixins' as *;

.date-picker {
  &-controls {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
  }
}

.preset-selector,
.range-selector {
  min-width: 150px;
}


::ng-deep {
  .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    display: none;
  }

  .mat-mdc-form-field-icon-suffix, [dir=rtl] .mat-mdc-form-field-icon-prefix {
    display: none;
  }
}
