@use '../../../styles/mixins' as *;

:host {
  display: block;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.form-label {
  @include form-label;
}

.password-input-wrapper {
  position: relative;
}

.form-input {
  @include form-input;
  padding-right: 2.5rem;

  &--error {
    border-color: var(--red) !important;

    &:focus {
      border-color: var(--red) !important;
      box-shadow: 0 0 0 2px rgba(201, 71, 47, 0.1);
    }
  }
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 16px;
  width: 16px;
  justify-content: center;

  img {
    width: 16px;
    height: auto;
    display: block;
  }

  &:focus {
    outline: none;
  }
}

.form-error {
  @include text-preset-5();
  color: var(--red);
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
}
