<div class="form-field">
  <label [for]="inputId()" class="form-label">
    {{ label() }}
  </label>
  <div class="password-input-wrapper">
    <input
      [id]="inputId()"
      [type]="type()"
      [value]="value()"
      [placeholder]="placeholder()"
      [autocomplete]="autocomplete()"
      [maxLength]="maxLength()"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      class="form-input password-input"
      [class.form-input--error]="hasError()"
    />

    <button
      type="button"
      (click)="togglePasswordVisibility()"
      class="password-toggle"
      [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
      tabindex="-1"
    >
      @if (showPassword()) {
        <img
          ngSrc="../../../../assets/images/icon-hide-password.svg"
          fill
          alt=""
          aria-hidden="true"
        />
      } @else {
        <img
          ngSrc="../../../../assets/images/icon-show-password.svg"
          fill
          alt=""
          aria-hidden="true"
        />
      }
    </button>
  </div>

  @if (hasError()) {
    <p class="form-error">
      {{ error() }}
    </p>
  }
</div>
