<div class="form-field" [class.form-field--disabled]="disabled()">
  <label [for]="inputId()" class="form-label">
    {{ label() }}
  </label>
  <div class="password-input-wrapper">
    <input
      [id]="inputId()"
      [type]="type()"
      [value]="currentValue()"
      [placeholder]="placeholder()"
      [autocomplete]="autocomplete()"
      [maxLength]="maxLength()"
      [disabled]="disabled()"
      [readOnly]="readonly()"
      [attr.aria-invalid]="hasError()"
      [attr.aria-describedby]="ariaDescribedBy()"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      class="form-input password-input"
      [class.form-input--error]="hasError()"
    />

    <button
      type="button"
      (click)="togglePasswordVisibility()"
      class="password-toggle"
      [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
      [disabled]="disabled()"
      tabindex="-1"
    >
      @if (showPassword()) {
        <img
          ngSrc="../../../../assets/images/icon-hide-password.svg"
          fill
          alt=""
          aria-hidden="true"
        />
      } @else {
        <img
          ngSrc="../../../../assets/images/icon-show-password.svg"
          fill
          alt=""
          aria-hidden="true"
        />
      }
    </button>
  </div>

  @if (hasError()) {
    <p [id]="inputId() + '-error'" class="form-error" role="alert">
      {{ error() }}
    </p>
  }
</div>
